.table-container {
  max-height: 380px;
}

.table-search {
  margin-bottom : 35px !important;
}

.table-icon:focus {
  outline: none;
}

.table-snackbar {
  background-color: #ff3333 !important;
}

.table-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.table-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1
}

@media only screen and (max-width: 600px) {

  .table-search {
    margin-bottom: 25px !important;
  }

}