.table-container {
  max-height: 100%;
}

.table-icon:focus {
  outline: none;
}

.table-imageError {
  color: red;
  font-size: 12px;
}

.table-quicktransaction {
  max-height: 280px;
  padding-left: 6.5vw;
  padding-right: 6.5vw;
  padding-top: 5px;
}

.table-quicktransaction-button {
  background-color: #ace1af !important;
  /*margin-top: 20px !important;*/
  top: 20px;
}

.table-quicktransaction-button:focus {
  outline: none;
}

.table-quicktransaction-button:hover {
  opacity: 0.8;
}

.table-search {
  margin-bottom : 35px !important;
}

.table-snackbar {
  background-color: #ff3333 !important;
}

.table-title {
  font-size: 20px !important;
  font-weight: bold !important;
  padding-bottom: 15px;
}

.table-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1
}

@media only screen and (max-width: 900px) {
  .table-container {
    max-height: 65vh;
  }
}

@media only screen and (max-width: 600px) {
  .table-container {
    max-height: 370px; 
  }

  .table-search {
    margin-bottom: 25px !important;
  }

  .table-quicktransaction {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-height: 800px) {
  .table-container {
    max-height: 220px;
  }
}