.notification-card {
  height: 325px;
  width: 15vw;
  margin-top: 15px;
}

.notification-emphasis {
  color: rgb(1, 114, 71);
}

.notification-saving {
  margin-left: -4vw;
}

.notification-saving-picture {
  padding-top: 60px;
  width: 80%;
  height: 80%;
}

.notification-spending {
  margin-left: -0.5vw;
}

.notification-spending-picture {
  padding-top: 65px;
  width: 60%;
  height: 60%;
}

.notification-weekly {
  margin-left: 6vw;
  width: 22vw;
}

.notification-weekly-picture {
  width: 65%;
  height: 65%;
}

@media only screen and (max-width: 1200px) {
  .notification-spending {
    margin-left: -1.5vw;
  }

  .notification-weekly {
    margin-left: 6vw;
  }

  .notification-weekly-picture {
    width: 60%;
    height: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .notification-saving {
    margin-left: -4.7vw;
  }
  
  .notification-spending {
    margin-left: -2.3vw;
  }

  .notification-weekly {
    margin-left: 5vw;
  }

  .notification-weekly-picture {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .notification-saving {
    margin-left: -6vw;
    width: 15vw;
  }

  .notification-saving-picture {
    display: none;
  }

  .notification-spending {
    margin-left: -2.7vw;
    width: 15vw;
  }

  .notification-spending-picture {
    display: none;
  }

  .notification-weekly {
    margin-left: 5vw;
    width: 18vw;
  }
}

@media only screen and (max-width: 767px) {
  .notification-saving {
    width: 20vw;
  }
  
  .notification-spending {
    margin-left: -1.2vw;
    width: 20vw;
  }

  .notification-weekly {
    margin-left: 8vw;
    width: 23vw;
  }
}

@media only screen and (max-width: 600px) {
  .notification-spending {
    margin-left: -3vw;
  }

  .notification-weekly {
    margin-left: 6vw;
  }
}

@media only screen and (max-width: 575px) {
  .notification-card {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 140px;
  }

  .notification-weekly {
    height: 200px;
  }

  .overview {
    margin-top: 400px;
  }

  /*.notification-saving-picture {
    display: inline;
    margin-top: -20px;
    width: 50%;
    height: 50%;
  }

  .notification-spending-picture {
    display: inline;
    margin-top: -20px;
    width: 45%;
    height: 45%;
  }

  .notification-weekly-picture {
    display: inline;
    width: 65%;
    height: 65%;
  }*/
}