.deletebutton:hover {
  background-color: #ff9999 !important;
}

.deletebutton:focus {
  outline: none;
}

.editprofile-cancelbutton {
  margin-right: 10px !important;
}

.editprofile-cancelbutton:focus {
  outline: none;
}

.editprofile-divider {
  margin-bottom: 20px !important;
}

.editprofile-passwordLink {
  font-size: 13px;
  padding-bottom: 15px !important;
}

.editprofile-passwordLink:focus {
  outline: none;
}

.editprofile-textfield {
  padding-top: 10px;
}

.goal-picture {
  width: 90%;
  height: 90%;
  margin-left: 30px;
  margin-top: 35px;
}

.profile {
  font-family: Roboto;
}

.profile-button {
  background-color: #ace1af !important;
}

.profile-button:hover {
  opacity: 0.8;
}

.profile-button:focus {
  outline: none;
}

.profile-card {
  margin-right: 30px;
  margin-top: 30px;
}

.profile-error {
  color: red;
  font-size: 14px;
}

.profile-informative-text {
  font-size: 14px;
  text-align: center;
  color: rgb(1, 114, 71);
  padding-bottom: 10px;
}

.profile-picture {
  width: 125%;
  height: 100%;
  padding-left: 20px;
  margin-top: 25px;
}

.profile-snackbar {
  background-color: rgb(1, 114, 71) !important;
}

.profile-subtitle {
  font-size: 15px;
  color: #202020;
}

.profile-text {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.profile-title {
  margin-top: 25px;
}

@media (max-width: 800px) {
  .goal-picture {
    padding-bottom: 15px;
  }
  
  .profile-card {
    margin-left: -50px !important;
  }

  .profile-picture {
    margin-left: -50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .goal-picture {
    padding-bottom: 15px;
  }
  
  .profile-card {
    margin-right: -60px;
    margin-left: -30px;
  }

  .profile-picture {
    margin-left: -25px;
  }

  .profile-title {
    margin-top: 70px;
    margin-left: 80px;
  }
}