.account {
  margin-left: 150px;
  margin-right: 35px;
}

.account-button-top {
  margin-top: 5px !important;
}

.account-button-bottom {
  margin-bottom: 15px !important;
}

.account-left-panel {
  margin-top: 20.265vh;
}

.account-logout {
  margin-top: 15px !important;
}

.account-right-panel {
  margin-top: 10vh;
}

.account-section {
  color: gray;
  font-size: 14px;
}

.account-section-pad {
  margin-top: 15px;
}

.account-subcontainer {
  margin-top: 20px;
}