.savings {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 80px;
  font-family: Roboto;
}

.savings-add {
  display: none;
}

@media only screen and (max-width: 840px) {
  .savings-add {
    display: inline;
  }

  .savings-form {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .savings {
    margin-top: 125px;
  }

  .savings-table {
    padding-bottom: 25px;
  }
}