.spendings {
  font-family: Roboto;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .spendings {
    margin-top: 125px;
  }

  .spendings-table {
    padding-bottom: 25px;
  }
}