.spendingssavings {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 80px;
  font-family: Roboto;
}

@media only screen and (max-width: 600px) {
  .spendingssavings {
    margin-top: 125px;
  }

  .spendingssavings-table {
    padding-bottom: 25px;
  }
}