.homepage-divider {
  background-color: rgb(1, 114, 71);
  border-style: none;
  height: 3px;
  margin-top: 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.homepage-nav-bar {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding-top: 90px;
  padding-bottom: 15px;
  text-align: center;
}

.homepage-nav-bar-button {
  width: 100%;
}

.homepage-nav-bar-button:hover {
  background-color: white !important;  
  color: rgb(1, 114, 71) !important;
}

.homepage-tab-container {
  background-color: white;
  display: flex;
  height: 55px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .homepage-divider {
    margin-top: 95px;
  }
  
  .homepage-nav-bar-button {
    height: 60%;
    width: 33.3%;
  }

  .homepage-nav-bar-button-bottom {
    padding-top: 15px !important;
  }

  .homepage-nav-bar-button-top {
    padding-top: 20px !important;
  }
  
  .homepage-tab-container {
    flex-flow: row wrap;
    height: 110px;
    padding-bottom: 30px;
  }
}