.webcam {
  width: 100%;
  height: auto;
}

.webcam-item-container {
  padding: 15px;
  margin-bottom: 15px;
}

.take-photo-button {
  width: 100%;
  height: auto;
  color: rgba(1, 114, 71);
  font-size: 1.25em;
  transition: ease all 0.3s;
  background: transparent;
  border: 2px dashed rgba(1, 114, 71);
  text-align: center;
  font-weight: bold;
}

.take-photo-button:focus {
  outline: 0;
}

.take-photo-button:hover {
  border: 1px solid;
  box-shadow: 2px 2px 10px rgba(1, 114, 71);
  text-shadow: 1px 1px 40px rgba(1, 114, 71);
}

.close-webcam-button {
  width: 100%;
  height: auto;
  color: rgb(212, 4, 4);
  font-size: 1.25em;
  transition: ease all 0.3s;
  background: transparent;
  border: 2px dashed rgb(212, 4, 4);
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.close-webcam-button:focus {
  outline: 0;
}

.close-webcam-button:hover {
  border: 1px solid;
  box-shadow: 2px 2px 10px rgb(212, 4, 4);
  text-shadow: 1px 1px 40px rgb(212, 4, 4);
}

.webcam-text {
  font-size: 1.5em;
  color: rgba(1, 114, 71);
  text-align: center;
  padding: 5px;
}